<tr *ngIf="product">
  <td>{{product.id}}</td>
  <td>{{product.name}}</td>
  <td>{{product.price}}</td>
  <td>{{product.quantity}}</td>
  <td>{{product.selected}}</td>
  <td><span [ngClass]="product.available?'fa fa-check text-success' : 'fa fa-times text-danger'"></span></td>
  <td>
    <button (click)="onSelect(product)" [ngClass]="product.selected?'btn-outline-success':'btn-outline-danger'">
      <span *ngIf="product.selected">Unselect</span>
      <span *ngIf="!product.selected">Select</span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-danger" (click)="onDelete(product)">
      <span class="fa fa-trash-o"></span>
    </button>
  </td>
  <td>
    <button class="btn btn-sm btn-danger" (click)="onEdit(product)">
      <span class="fa fa-edit"></span>
    </button>
  </td>
</tr>
