<div class="container">
  <ng-container *ngIf="productsInput$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
      LOADING....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
      <div class="alert-danger">
        {{result.errorMessage}}
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.LOADED">
      <table class="table">
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Selected</th>
          <th>Available</th>
        </tr>
        <app-products-item [product]="p"
                           *ngFor="let p of result.data"
                           style="display: contents">

        </app-products-item>
      </table>
    </ng-container>

  </ng-container>


</div>
